body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eceff5;
    color: #4c5765;
    user-select: none;
}

.container {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 12px;
}

#answer {
    visibility: hidden;
    pointer-events: none;
}

.circle_container {
    height: 110px;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle {
    height: 90px;
    width: 90px;
    margin: 0px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.circle:hover {
    margin: 5px;
    height: 80px;
    width: 80px;
}

.selected {
    margin: 0px;
    border: 10px solid #4c5765;
}

#cnt{
    position: absolute;
    top: 60px;
    left: 80px;
    cursor: ns-resize;
}

#btn_container{
    position: absolute;
    top: 60px;
    right: 80px;
}
.btn {
    width: 110px;
    height: 50px;
    margin-top: 17px;
    margin-bottom: 17px;
    font-size: 30px;
    letter-spacing: 5px;
    text-align: center;
    line-height: 50px;
    border-radius: 12px;
    border: 2px solid #4c5765;
    cursor: pointer;
    transition: border-radius 150ms ease-in-out;
}

.btn:hover {
    border-radius: 0px;
    background-color: #4c5765;
    color: #eceff5;
}

#dat_container {
    position: absolute;
    bottom: 130px;
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dat {
    padding-left: 13px;
    padding-right: 13px;
    height: 50px;
    text-align: center;
    font-size: 27px;
    text-align: center;
    line-height: 50px;
    border-bottom: 2px solid #4c5765;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}
